

h1,
h2,
h3,
h4 {
    margin: 20px 0;
    text-transform: capitalize;
}
h1 {
    font-size: 30px;
    font-weight: bold;
    color: #606060;
}
h2 {
    margin: 0;
    font-size: 1.5em;
    color: $body;
}
h3 {
    color: #606060;
    font-size: 22px;
}
h4 {
    color: #606060;
    font-size: 16px;
    // display:grid;
    // grid-template-columns:minmax(min-content, max-content) auto;
    // grid-column-gap: .75em;
    // align-items: center;
}

.subtext {
    color: #aeb4b7;
    font-size: 11px;
}
strong{
    font-weight: 600;
    color: #707070;
}
p {
    margin: 15px 0;
}
a {
    color: $primary-color;
    cursor: pointer;
}
a:visited {
}

/* ------------------------------------------------------------------------ *
    FONT STACKS - see _variables.scss
* ------------------------------------------------------------------------ */
// $sans-serif: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* ------------------------------------------------------------------------ *
    CUSTOM FONTS
    Lets try to not use these for the sake of optimizing the overall page weight
* ------------------------------------------------------------------------ */
// @font-face {
//     font-family: 'Font Name';
//     src: url('library/fonts/font-name.eot');
//     src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
//             url('library/fonts/font-name.woff') format('woff'),
//             url('library/fonts/font-name.ttf') format('truetype'),
//             url('library/fonts/font-name.svg#font-name') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

/*# sourceURL=_typography.scss */
